<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .box {
            width: 500px;
            margin: 20px auto;
        }
    </style>
</head>

<body>
    <div class="box">
        <!-- 设置标题，并使用text-center水平居中 -->
        <h3 class="text-center">新增学生</h3>
        <!-- 将表单提交行为变成post请求，并指定表单的提交地址 -->
        <form class="form-horizontal" method="post" action="/students/new">
            <!-- 姓名部分 -->
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
                </div>
            </div>

            <!-- 性别部分 -->
            <div class="form-group">
                <label for="gender" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <!-- 设置男生为0，女生为1，默认勾选男生 -->
                        <input type="radio" name="gender" id="gender" value="0" checked> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="gender" value="1"> 女
                    </label>
                </div>
            </div>

            <!-- 年龄部分 -->
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">年龄</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="age" name="age" placeholder="请输入年龄">
                </div>
            </div>

            <!-- 爱好部分 -->
            <div class="form-group">
                <label for="hobbies" class="col-sm-2 control-label">爱好</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="hobbies" name="hobbies" rows="3"></textarea>
                </div>
            </div>

            <!-- 提交按钮部分 -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!-- 注意：可以使用center-block来使块级元素居中 -->
                    <button type="submit" class="btn btn-default center-block">提交</button>
                </div>
            </div>

        </form>
    </div>

</body>

</html>